<ul>
  <li><a href="/epq-project/Default">_DEFAULT</a></li>
  <li><a href="/epq-project/Bleb - Charlie Curren Jones">Bleb - Charlie Curren Jones</a></li>
  <li><a href="/epq-project/Jeff - Patrick Cauty">Jeff - Patrick Cauty</a></li>
  <li><a href="/epq-project/Numpad - James Philips">Numpad - James Philips</a></li>
  <li><a href="/epq-project/Print Screen - Joe Crane">Print Screen - Joe Crane</a></li>
  <li><a href="/epq-project/Right-Handed WASD - Michael Silitoe">Right-Handed WASD - Michael Silitoe</a></li>
  <li><a href="/epq-project/s - James Murphy">s - James Murphy</a></li>
  <li><a href="/epq-project/Upside-down keyboard - Cameron Trow">Upside-down keyboard - Cameron Trow</a></li>
</ul>
